html
  head
    title Login Page
       style
        include ./style.css
  body
    div
      h1 My Login Form
      form(method='POST' action='/login')
        label(for='email') Email
        input(type="text" id="email" placeholder="Enter Username" name="username" required)
        br
        br
        label(for='password') Password
        input(type="password" id="password" placeholder="Enter password" name="password" required)
        br
        br
        button Submit
        