<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title=title
  body
      div
        h1 My Login Form
        form(method='POST' action='/login')
          label(for='email') Email
          input(type="text" id="email" placeholder="Enter Username" name="username" required)
          br
          br
          label(for='password') Password
          input(type="password" id="password" placeholder="Enter password" name="password" required)
          br
          br
          button SUBMIT